<mat-card *ngIf="user">
  <mat-card-header>
    <mat-card-title>{{ user.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="user.profilePicUrl" *ngIf="user.profilePicUrl" [alt]="user.name + '::Profile Pic'" />
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>email</mat-icon>
        <h3 matLine>{{ user.email }}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>cake</mat-icon>
        <h3 matLine>{{ user.age }}</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>build</mat-icon>
        <h3 matLine>{{ user.role }}</h3>
      </mat-list-item>
      <h3 matSubheader>Comments</h3>
      <mat-list-item *ngFor="let comment of user.comments">
        <p matLine class="mat-caption">{{ comment.comment }}</p>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" matTooltip="Add User Comment" (click)="onAddComment()">
      <mat-icon>comment</mat-icon>
    </button>
    <button mat-raised-button color="accent" [routerLink]="['/users/update', user.id]">Edit</button>
    <span class="fill-space"></span>
    <button mat-stroked-button color="warn" [routerLink]="['/users/delete', user.id]">Delete</button>
  </mat-card-actions>
</mat-card>
